wp-content/debug.log
wp-content/uploads/debug-log-manager/librewooddevsite_20240919224187600557_debug.log
wp-content/uploads/wc-logs/librewoo-order-confirmed-2024-10-09-9910dc072d0dd32125f7bad15165ddaf.log
wp-config.php
wp-content/uploads/wc-logs/fatal-errors-2024-10-09-f5ba04aa062d823d3ed1120014509a3a.log
